In [1]:
codes=['[in]','[in]','[ph]','[pl]','[no]','[id]','[ve]','[lk]','[cr]','[by]','[ps]','[az]','[tl]','[om]','[as]','[it]','[kr]','[pt]','[ug]','[ru]','[us]']
roles=['actor','writer','designer','editor','actress','producer','guest','composer','director','cinematographer']
query='''
SELECT MIN(chn.name) AS uncredited_voiced_character,
       MIN(t.title) AS movie
FROM imdb.dbo.char_name AS chn,
     imdb.dbo.cast_info AS ci,
     imdb.dbo.company_name AS cn,
     imdb.dbo.company_type AS ct,
     imdb.dbo.movie_companies AS mc,
     imdb.dbo.role_type AS rt,
     imdb.dbo.title AS t
WHERE ci.note LIKE '%(voice)%'
  AND ci.note LIKE '%(uncredited)%'
  AND cn.country_code = 'c_code'
  AND rt.role = 'r_type'
  AND t.production_year > p_year
  AND t.id = mc.movie_id
  AND t.id = ci.movie_id
  AND ci.movie_id = mc.movie_id
  AND chn.id = ci.person_role_id
  AND rt.id = ci.role_id
  AND cn.id = mc.company_id
  AND ct.id = mc.company_type_id;
  '''

In [14]:
import random

for i in range(50):
    c_code=random.choice(codes)
    r_type=random.choice(roles)
    p_year=random.randint(1880,2019)
    n_query=query.replace('c_code',c_code).replace('p_year',str(p_year)).replace('r_type',r_type)
    f=open('G:\dbquery-optimizer\queries\query_1\q_one_'+str(i+1)+'.sql','w')
    f.write(n_query)
    f.close()

In [18]:
query2='''
SELECT MIN(mi_idx.info) AS info,
       MIN(t.title) AS movie_title
FROM imdb.dbo.info_type AS it,
     imdb.dbo.keyword AS k,
     imdb.dbo.movie_info_idx AS mi_idx,
     imdb.dbo.movie_keyword AS mk,
     imdb.dbo.title AS t
WHERE it.info ='i_type'
  AND k.keyword LIKE '%sequel%'
  AND mi_idx.info > 'i_num'
  AND t.production_year > p_year
  AND t.id = mi_idx.movie_id
  AND t.id = mk.movie_id
  AND mk.movie_id = mi_idx.movie_id
  AND k.id = mk.keyword_id
  AND it.id = mi_idx.info_type_id;
'''
info=['rating','books','locations','rentals','novel','plot','trivia','article']

for i in range(50):
    info_type=random.choice(info)
    i_num=round(random.uniform(1,999),1)
    p_year=random.randint(1880,2019)
    n_query=query2.replace('i_type',info_type).replace('p_year',str(p_year)).replace('i_num',str(i_num))
    f=open('G:\dbquery-optimizer\queries\query_2\q_two_'+str(i+1)+'.sql','w')
    f.write(n_query)
    f.close()

In [21]:
k_kind=['episode','video game','tv mini series','tv series','movie','tv movie','video movie']
c_kind=['production companies','special effects companies','distributors','miscellaneous companies']
roles=['actor','writer','designer','editor','actress','producer','guest','composer','director','cinematographer']
info=['rating','books','locations','rentals','novel','plot','trivia','article']

query3='''
SELECT MIN(cn.name) AS producing_company,
       MIN(miidx.info) AS rating,
       MIN(t.title) AS movie_about_winning
FROM imdb.dbo.company_name AS cn,
     imdb.dbo.company_type AS ct,
     imdb.dbo.info_type AS it,
     imdb.dbo.info_type AS it2,
     imdb.dbo.kind_type AS kt,
     imdb.dbo.movie_companies AS mc,
     imdb.dbo.movie_info AS mi,
     imdb.dbo.movie_info_idx AS miidx,
     imdb.dbo.title AS t
WHERE cn.country_code ='c_code'
  AND ct.kind ='c_kind'
  AND it.info ='i_type'
  AND it2.info ='release dates'
  AND kt.kind ='k_kind'
  AND t.title != ''
  AND (t.title LIKE '%Champion%'
       OR t.title LIKE '%Loser%')
  AND mi.movie_id = t.id
  AND it2.id = mi.info_type_id
  AND kt.id = t.kind_id
  AND mc.movie_id = t.id
  AND cn.id = mc.company_id
  AND ct.id = mc.company_type_id
  AND miidx.movie_id = t.id
  AND it.id = miidx.info_type_id
  AND mi.movie_id = miidx.movie_id
  AND mi.movie_id = mc.movie_id
  AND miidx.movie_id = mc.movie_id;
'''
for i in range(25,50):
    info_type=random.choice(info)
    c_code=random.choice(codes)
    ck=random.choice(c_kind)
    kk=random.choice(k_kind)
    n_query=query3.replace('i_type',info_type).replace('c_code',c_code).replace('c_kind',ck).replace('k_kind',kk)
    f=open('G:\dbquery-optimizer\queries\query_3\q_three_'+str(i+1)+'.sql','w')
    f.write(n_query)
    f.close()

In [8]:
import random
query4='''
  
SELECT MIN(an.name) AS cool_actor_pseudonym,
       MIN(t.title) AS series_named_after_char
FROM imdb.dbo.aka_name AS an,
     imdb.dbo.cast_info AS ci,
     imdb.dbo.company_name AS cn,
     imdb.dbo.keyword AS k,
     imdb.dbo.movie_companies AS mc,
     imdb.dbo.movie_keyword AS mk,
     imdb.dbo.name AS n,
     imdb.dbo.title AS t
WHERE cn.country_code ='c_code'
  AND k.keyword ='character-name-in-title'
  AND t.episode_nr >= low_enr
  AND t.episode_nr < high_enr
  AND an.person_id = n.id
  AND n.id = ci.person_id
  AND ci.movie_id = t.id
  AND t.id = mk.movie_id
  AND mk.keyword_id = k.id
  AND t.id = mc.movie_id
  AND mc.company_id = cn.id
  AND an.person_id = ci.person_id
  AND ci.movie_id = mc.movie_id
  AND ci.movie_id = mk.movie_id
  AND mc.movie_id = mk.movie_id;
'''
for i in range(40,50):
    c_code=random.choice(codes)
    l_enr=random.randint(1,5000)
    h_enr=random.randint(10000,90000)
    n_query=query4.replace('c_code',c_code).replace('low_enr',str(l_enr)).replace('high_enr',str(h_enr))
    f=open('G:\dbquery-optimizer\queries\query_4\q_four_'+str(i+1)+'.sql','w')
    f.write(n_query)
    f.close()

In [ ]:
query5='''
SELECT MIN(t.title) AS movie_title
FROM imdb.dbo.company_name AS cn,
     imdb.dbo.keyword AS k,
     imdb.dbo.movie_companies AS mc,
     imdb.dbo.movie_keyword AS mk,
     imdb.dbo.title AS t
WHERE cn.country_code ='c_code'
  AND k.keyword ='k_type'
  AND cn.id = mc.company_id
  AND mc.movie_id = t.id
  AND t.id = mk.movie_id
  AND mk.keyword_id = k.id
  AND mc.movie_id = mk.movie_id;
'''
keywords=['character-name-in-title','latin-america-politics','middle-ages','public-hearing','home-alone','black-jew','rabbit-fight','fictional-plot']

for i in range(50):
    c_code=random.choice(codes)
    k_type=random.choice(keywords)
    n_query=query5.replace('c_code',c_code).replace('k_type',k_type)
    f=open('G:\dbquery-optimizer\queries\query_5\q_five_'+str(i+1)+'.sql','w')
    f.write(n_query)
    f.close()