In [2]:
from lxml import etree
import numpy as np
import pandas as pd

In [3]:
def extract_duration(s):
    c=0
    duration=''
    for i in list(s):
        if(i==':'):
            c+=1
        if(c==2):
            duration+=i
        if(c==3):
            break
    return duration[1:]

In [40]:
import subprocess
host='ACCESS-DENIED\SQLEXPRESS'

q3_time=[]
for i in range(50):
    durations=[]
    path="G:\dbquery-optimizer\query-variants\query_3\q_three_"+str(i+1)+".sql"
    for j in range(10):
        p=subprocess.Popen(['sqlcmd','-S',host,'-i',path,'-p1'],stdout=subprocess.PIPE)
        stdout=p.communicate()[0]
        # print(stdout)
        f_index=str(stdout).find('affected')
        l_index=f_index+25
        s=str(stdout[f_index+3:l_index])
        d=int(extract_duration(s))
        durations.append(d)
    q3_time.append(durations)

q3_time=np.array(q3_time)
q3_time=pd.DataFrame(q3_time)
q3_time

      0    1    2    3    4    5    6    7    8    9
0    78   16   16   16   15   16   16   16   16   15
1    63    1    1    1    1    1    1    1   16    1
2   422  328  235  234  234  234  234  234  219  219
3    78   15    1    1   15    1    1    1    1    1
4   547  265  234  234  313  235  281  234  219  219
5    94    1    1    1    1    1    1    1   16    1
6    62   16   16   16   16   16    1    1    1   15
7    63    1   15   16   15    1    1   15   15   16
8    79   16   31   15   15   16   16   15   16   16
9    63   15    1    1    1    1    1    1    1    1
10   47    1    1    1    1    1   15    1    1    1
11   63   15    1    1    1    1   15    1    1    1
12   47    1    1   16    1    1    1   15    1    1
13   63    1   16    1    1    1   16   15   16    1
14   62   15   16   16   15   16   16   15   16   16
15   79   16    1    1    1    1    1    1    1    1
16   63    1    1    1    1    1   15    1    1    1
17   62    1    1    1   16    1    1    1    1    1
18  547  422   93   78   78   78   78   78   94   79
19   63    1    1    1    1   16   16    1    1    1
20   94    1   16    1    1   15    1    1   16   15
21   62   16   16   16   16   16   16   15   15    1
22   63    1    1    1    1   16   16    1    1    1
23   78   15   16   16   78   62   78   78   78   15
24   63   63   63   63   62   62   62   62   78   62
25   93    1  172   63   16   63   47   62   78   78
26   94   94   78   78  125  125  125  109  110   31
27   79    1    1   16    1    1    1   15    1    1
28   79    1   15   16   16    1   15   15    1   16
29   63    1    1    1    1    1   16    1    1    1
30   63    1   15    1    1    1   16    1    1    1
31   94    1   15    1    1    1    1    1    1   16
32   63   16   16   16   15    1    1   16    1   16
33   78   15   16   16   16   15   16   16   15   31
34   63    1   16   16    1    1    1    1    1   15
35   79   15   16   16   31   31   31   15   15   16
36   78    1    1   16    1   15    1   16    1    1
37   62    1    1    1   16    1    1    1   16    1
38   63   32   15   15   16   31   15   15   16   16
39  109    1   16    1    1   16    1   16    1    1
40   62    1    1    1    1    1    1    1    1   15
41   62    1   16   15    1   16    1    1   16    1
42   62    1    1    1    1   15    1    1    1   16
43   63    1    1    1   15    1    1    1    1   16
44   63    1    1    1   15    1    1   15    1   16
45   79   15   16   15   15   15   16   16   16   16
46   79   16   15   15   16   16   16   15    1   16
47  141   16   15   15   15   16   16   16   16   32
48   78   15   16   16   16   16   16   15   15   15
49   94   16   32   31   15   31   31   16   16   32

In [59]:
q3_time['mean']=q3_time.iloc[:,1:].mean(axis=1)
q_list=[]
for i in range(50):
    if(q3_time['mean'][i]>=10.0):
        q_list.append(i)

q3_time

      0    1    2    3    4    5    6    7    8    9        mean
0    78   16   16   16   15   16   16   16   16   15   15.777778
1    63    1    1    1    1    1    1    1   16    1    2.666667
2   422  328  235  234  234  234  234  234  219  219  241.222222
3    78   15    1    1   15    1    1    1    1    1    4.111111
4   547  265  234  234  313  235  281  234  219  219  248.222222
5    94    1    1    1    1    1    1    1   16    1    2.666667
6    62   16   16   16   16   16    1    1    1   15   10.888889
7    63    1   15   16   15    1    1   15   15   16   10.555556
8    79   16   31   15   15   16   16   15   16   16   17.333333
9    63   15    1    1    1    1    1    1    1    1    2.555556
10   47    1    1    1    1    1   15    1    1    1    2.555556
11   63   15    1    1    1    1   15    1    1    1    4.111111
12   47    1    1   16    1    1    1   15    1    1    4.222222
13   63    1   16    1    1    1   16   15   16    1    7.555556
14   62   15   16   16   15   16   16   15   16   16   15.666667
15   79   16    1    1    1    1    1    1    1    1    2.666667
16   63    1    1    1    1    1   15    1    1    1    2.555556
17   62    1    1    1   16    1    1    1    1    1    2.666667
18  547  422   93   78   78   78   78   78   94   79  119.777778
19   63    1    1    1    1   16   16    1    1    1    4.333333
20   94    1   16    1    1   15    1    1   16   15    7.444444
21   62   16   16   16   16   16   16   15   15    1   14.111111
22   63    1    1    1    1   16   16    1    1    1    4.333333
23   78   15   16   16   78   62   78   78   78   15   48.444444
24   63   63   63   63   62   62   62   62   78   62   64.111111
25   93    1  172   63   16   63   47   62   78   78   64.444444
26   94   94   78   78  125  125  125  109  110   31   97.222222
27   79    1    1   16    1    1    1   15    1    1    4.222222
28   79    1   15   16   16    1   15   15    1   16   10.666667
29   63    1    1    1    1    1   16    1    1    1    2.666667
30   63    1   15    1    1    1   16    1    1    1    4.222222
31   94    1   15    1    1    1    1    1    1   16    4.222222
32   63   16   16   16   15    1    1   16    1   16   10.888889
33   78   15   16   16   16   15   16   16   15   31   17.333333
34   63    1   16   16    1    1    1    1    1   15    5.888889
35   79   15   16   16   31   31   31   15   15   16   20.666667
36   78    1    1   16    1   15    1   16    1    1    5.888889
37   62    1    1    1   16    1    1    1   16    1    4.333333
38   63   32   15   15   16   31   15   15   16   16   19.000000
39  109    1   16    1    1   16    1   16    1    1    6.000000
40   62    1    1    1    1    1    1    1    1   15    2.555556
41   62    1   16   15    1   16    1    1   16    1    7.555556
42   62    1    1    1    1   15    1    1    1   16    4.222222
43   63    1    1    1   15    1    1    1    1   16    4.222222
44   63    1    1    1   15    1    1   15    1   16    5.777778
45   79   15   16   15   15   15   16   16   16   16   15.555556
46   79   16   15   15   16   16   16   15    1   16   14.000000
47  141   16   15   15   15   16   16   16   16   32   17.444444
48   78   15   16   16   16   16   16   15   15   15   15.555556
49   94   16   32   31   15   31   31   16   16   32   24.444444

In [62]:
q_list=[0, 2, 4, 6, 7, 8, 14, 18, 21, 23, 24, 25, 26, 28, 32, 33, 35, 38, 45, 46, 47, 48, 49]

In [89]:
import re

def make_template(file,params,replacedParams):
    tree=etree.parse(file)
    xmlstr=etree.tostring(tree)
    xmlstr=xmlstr.decode("utf-8")
    for i in range(len(params)):
        xmlstr,count=re.subn(params[i],replacedParams[i],xmlstr)
        print("{} occurences replaced".format(count))
    xmlstr=xmlstr.replace("'","''")
    return xmlstr


def use_template(file,params,replacedParams):
    tree=etree.parse(file)
    xmlstr=etree.tostring(tree)
    xmlstr=xmlstr.decode("utf-8")
    for i in range(len(params)):
        xmlstr,count=re.subn(params[i],replacedParams[i],xmlstr)
        # print("{} occurences replaced".format(count))
    return xmlstr

def extract_parameters(query):
    params=[]
    s=query
    s_index=query.find("cn.country_code ='")+len("cn.country_code ='")
    param1=''
    while(s[s_index]!="'"):
        param1+=s[s_index]
        s_index+=1
    params.append(param1)
    s_index=query.find("ct.kind ='")+len("ct.kind ='")
    param2=''
    while(s[s_index]!="'"):
        param2+=s[s_index]
        s_index+=1
    params.append(param2)
    s_index=query.find("it.info ='")+len("it.info ='")
    param3=''
    while(s[s_index]!="'"):
        param3+=s[s_index]
        s_index+=1
    param3="''"+param3+"''"
    params.append(param3)
    s_index=query.find("kt.kind ='")+len("kt.kind ='")
    param4=''
    while(s[s_index]!="'"):
        param4+=s[s_index]
        s_index+=1
    param4="''"+param4+"''"
    params.append(param4)
    return params

In [90]:
f=open("G:\dbquery-optimizer\query-variants\query_3\q_three_46.sql",'r')
q=f.read()
print(extract_parameters(q))

['[by]', 'distributors', "''trivia''", "''tv mini series''"]

In [84]:
file=r"G:\dbquery-optimizer\Execution Plans\query_3\query_three_46.xml"
params=["\[by\]","distributors","\'trivia\'","\'tv mini series\'"]
print(params)
replacedParams=['C_CODE','C_KIND','INFO','K_KIND']
s=make_template(file,params,replacedParams)
f=open(r'G:\dbquery-optimizer\Execution Plans\operator-based\plan_three_3.xml','w')
f.write(s)
f.close()

['\\[by\\]', 'distributors', "'trivia'", "'tv mini series'"]
3 occurences replaced
3 occurences replaced
3 occurences replaced
3 occurences replaced

In [92]:
p_list=[1,2,3]
for i in range(len(q_list)):
    f=open("G:\dbquery-optimizer\query-variants\query_3\q_three_"+str(q_list[i]+1)+".sql",'r')
    q=f.read()
    f.close()
    params=['C_CODE','C_KIND','INFO','K_KIND']
    replacedParams=extract_parameters(q)
    for j in range(len(p_list)):
        file=r"G:\dbquery-optimizer\Execution Plans\operator-based\plan_three_"+str(p_list[j])+".xml"
        plan=use_template(file,params,replacedParams)
        q1=q.replace(';','')+"OPTION( MAXDOP 1, USE PLAN N'"+plan+"')"
        f=open(r"G:\dbquery-optimizer\new_query_3\query_"+str(q_list[i]+1)+"_plan_"+str(p_list[j])+".sql",'w')
        f.write(q1)
        f.close()

In [93]:
for i in range(len(q_list)):
    f=open(r"G:\dbquery-optimizer\query-variants\query_3\q_three_"+str(q_list[i]+1)+".sql",'r')
    q=f.read()
    f.close()
    f=open(r"G:\dbquery-optimizer\new_query_3\query_"+str(q_list[i]+1)+"_no_plan.sql",'w')
    q1=q.replace(';','')+"OPTION( MAXDOP 1)"
    f.write(q1)
    f.close()
    f=open("G:\dbquery-optimizer\Execution Plans\query_3\query_three_"+str(q_list[i]+1)+".xml",'r',encoding='utf-16')
    plan=f.read()
    f.close()
    plan=plan.replace("'","''")
    q1=q.replace(';','')+"OPTION( MAXDOP 1,USE PLAN N'"+plan+"')"
    f=open(r"G:\dbquery-optimizer\new_query_3\query_"+str(q_list[i]+1)+"_default_plan.sql",'w')
    f.write(q1)
    f.close()

In [94]:
import subprocess
import os
host='ACCESS-DENIED\SQLEXPRESS'
folder=r"G:\dbquery-optimizer\new_query_3"
directory = os.fsencode(folder)
q3p_time=[]  
for file in os.listdir(directory):
    path=os.path.join(directory,file)
    path=path.decode("utf-8")
    durations=[]
    for j in range(5):
        p=subprocess.Popen(['sqlcmd','-S',host,'-i',path,'-p1'],stdout=subprocess.PIPE,stderr=subprocess.PIPE)
        stdout, stderr=p.communicate()
        try:
            f_index=str(stdout).find('affected')
            l_index=f_index+25
            s=str(stdout[f_index+3:l_index])
            d=int(extract_duration(s))
            durations.append(d)
        except:
            print(stderr)
    q3p_time.append(durations)

q3p_time=np.array(q3p_time)
q3p_time=pd.DataFrame(q3p_time)
q3p_time

       0    1    2    3    4
0    188   62   31   31   32
1     63   15   16   31   15
2     46   16   31   31   16
3    719  531  516  953  437
4     31   47   31   31   31
..   ...  ...  ...  ...  ...
110   47   47   47   47   47
111   78   16   15   15   16
112   47   47   32   31   31
113  437  610  422  703  437
114   32   47   47   47   47

[115 rows x 5 columns]

In [95]:
q3p_time=pd.DataFrame(q3p_time)
# pd.set_option('display.max_rows',10)
q3p_time['mean']=q3p_time.iloc[:,1:].mean(axis=1)
q3p_time

       0    1    2    3    4    mean
0    188   62   31   31   32   39.00
1     63   15   16   31   15   19.25
2     46   16   31   31   16   23.50
3    719  531  516  953  437  609.25
4     31   47   31   31   31   35.00
..   ...  ...  ...  ...  ...     ...
110   47   47   47   47   47   47.00
111   78   16   15   15   16   15.50
112   47   47   32   31   31   35.25
113  437  610  422  703  437  543.00
114   32   47   47   47   47   47.00

[115 rows x 6 columns]

In [97]:
q3p_stats=[]
i=0
k=0
while(i<115):
    durations=[]
    durations.append(q_list[k]+1)
    k+=1
    for j in range(5):
        durations.append(q3p_time['mean'][i])
        i+=1
    q3p_stats.append(durations)

q3p_stats=np.array(q3p_stats)

q3p_stats=pd.DataFrame({'Query_No':q3p_stats[:,0],'No Plan':q3p_stats[:,2],'Default Plan':q3p_stats[:,1],'Plan 1':q3p_stats[:,3],'Plan 2':q3p_stats[:,4],'Plan 3':q3p_stats[:,5]})
q3p_stats['mean_duration']=q3p_stats.iloc[:,1:6].mean(axis=1)
q3p_stats['min_duration']=q3p_stats.iloc[:,1:6].min(axis=1)
q3p_stats['max_duration']=q3p_stats.iloc[:,1:6].max(axis=1)
q3p_stats['std deviation']=q3p_stats.iloc[:,1:6].std(axis=1)
q3p_stats.style.set_caption("(All durations in ms)")
q3p_stats=q3p_stats.astype({'Query_No':int})
sum=pd.DataFrame({'Query_No':['Sum'],'No Plan':[q3p_stats['No Plan'].sum()],'Default Plan':[q3p_stats['Default Plan'].sum()],'Plan 1':[q3p_stats['Plan 1'].sum()],'Plan 2':[q3p_stats['Plan 2'].sum()],'Plan 3':[q3p_stats['Plan 3'].sum()]})
# q3p_stats['Query_No']='Sum'
# q3p_stats.to_csv()

q3p_stats=q3p_stats.append(sum,ignore_index=False,sort=False)
q3p_stats.to_excel('Query_3_Plan_stats(operator-based).xls')
q3p_stats

,Query_No,No Plan,Default Plan,Plan 1,Plan 2,Plan 3,mean_duration,min_duration,max_duration,std deviation
0,1,19.25,39.00,23.50,609.25,35.00,145.20,19.25,609.25,259.537654
1,3,191.25,382.75,47.00,2793.00,62.75,695.35,47.00,2793.00,1180.308389
2,5,15.75,35.00,27.25,492.25,35.00,121.05,15.75,492.25,207.656673
3,7,15.75,35.00,31.25,2500.00,39.00,524.20,15.75,2500.00,1104.540903
4,8,15.75,31.25,27.50,453.00,31.25,111.75,15.75,453.00,190.870457
5,9,55.25,23.00,54.75,1890.50,23.75,409.45,23.00,1890.50,828.083167
6,15,4.75,23.75,27.75,441.75,23.00,104.20,4.75,441.75,188.905102
7,19,27.25,42.75,46.75,2284.75,51.00,490.50,27.25,2284.75,1003.056329
8,22,8.25,31.25,31.25,480.25,43.00,118.80,8.25,480.25,202.449407
9,24,4.75,23.75,27.25,456.75,35.25,109.55,4.75,456.75,194.413413
10,25,19.75,35.00,23.50,402.25,43.25,104.75,19.75,402.25,166.568398
11,26,23.50,39.25,31.00,406.00,31.25,106.20,23.50,406.00,167.685848
12,27,15.25,35.25,23.25,394.75,35.25,100.75,15.25,394.75,164.569894
13,29,586.00,476.50,31.25,402.25,31.25,305.45,31.25,586.00,258.702496
14,33,15.75,39.25,31.00,492.50,39.00,123.50,15.75,492.50,206.497957
15,34,15.75,31.00,31.50,476.50,46.75,120.30,15.75,476.50,199.423341
16,36,16.00,39.00,42.75,2019.50,58.25,435.10,16.00,2019.50,885.835457
17,39,8.50,35.25,39.00,2277.25,31.25,478.25,8.50,2277.25,1005.741595
18,46,19.50,31.25,39.25,7930.00,43.00,1612.60,19.50,7930.00,3531.545433
19,47,242.00,668.00,31.25,620.75,31.25,318.65,31.25,668.00,309.992974
20,48,4.75,31.50,27.50,476.50,42.75,116.60,4.75,476.50,201.663752
21,49,12.00,31.00,35.25,538.75,62.50,135.90,12.00,538.75,225.921073
22,50,15.50,47.00,35.25,543.00,47.00,137.55,15.50,543.00,227.018612
0,Sum,1352.25,2206.75,766.00,29381.50,921.75,NaN,NaN,NaN,NaN